[submodule "mq"]
	path = mq
	url = https://github.com/dgoffredo/mq.git
[submodule "guile-sqlite3"]
	path = guile-sqlite3
	url = https://gitorious.org/guile-sqlite3/guile-sqlite3.git
[submodule "guile-json"]
	path = guile-json
	url = https://github.com/aconchillo/guile-json.git
